<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <h1>Data's in database</h1>
        <table>
  <thead>
    <tr>
      <th>device_id<input</th>
      <th>key</th>
      <th>data</th>
      <th>time</th>
    </tr>
  </thead>
  <tbody>
    {% for data in devices %}
    <tr>
      <td>{{ data.0 }}</td>
      <td>{{ data.1 }}</td>
      <td>{{ data.2 }}</td>
      <td>{{ data.3 }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    </body>
</html>
